@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

html {
    font-family:Inconsolata, sans-serif;
}
.main-header {
    text-align: center;
    color: rgb(211, 89, 3, 0.712);
    background-image:url(../img/sixking-flower-5163874.jpg) ;
    background-size: cover;
    background-position: center;
}

.main-header nav a:hover {
    color: rgba(221, 191, 170, 0.87);
}

ul li {
    list-style: none;
}

img {
    width: 30%;
}

img:hover {
    width: 60%;
}

a{
    color: rgba(211, 89, 3, 0.712);
}

h2{
    color: #5b5f08;
}

h3 {
     color: #8b9202;
}
table {
    border-collapse: collapse;
    border: 2px solid black;
}

th, td, caption {
    border: 2px solid black;
}

caption {
    border-bottom: 0px;
}











footer {
    background-color: #5b5f08;
    text-align: center;
    font-size: 23px
}

footer p {
    color: aliceblue;
}